// Global Foundation Settings
@import "settings";
// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
// Color definitions
$flat-blue: #1679f7;
$flat-darkBlue: #117ab1;
$flat-green: #73c37e;
$flat-darkGreen: #2abbb4;
$flat-black: #666465;
$flat-red: #f9644e;
$flat-drabRed: #e68e8a;
$flat-orange: #ebb426;
$flat-purple: #9c6beb;
$flat-yellow: #eacb5f;
.title{
	height: 174px;
	background: $flat-red;
}
.shiftLeft{
	padding:0;
}
.name{
	color:white;
	font-size: 1.5em;
}
.call{
	margin:0;
	font-size: 1.5em;
	padding-top: 10px;
}
.contactTitle{
	height: 147px;
	background: $flat-yellow;
	margin-left:3%;
	width: 90%;
}
.gameTitle{
	height: 147px;
	background: $flat-blue;
	margin-left:7.2%;
	width: 90%;
}
.wrap{
	width: 90%;
	margin-left:7.2%;
}
.wrap2{
	width: 90%;
	margin-left:2.7%;
}
.gameThumb{
	height: 147px;
	background: $flat-drabRed;
	margin: 2px -13px;
}
#twit{
	background: url(../img/twitterIcon.png) top left no-repeat;
}
#git{
	background: url(../img/githubIcon.png) top left no-repeat;
}
#soundCloud{
	background: url(../img/soundCloudIcon.png) top left no-repeat;
}