// Global Foundation Settings
@import "settings";
// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
// Color definitions
$flat-blue: #1679f7;
$flat-darkBlue: #117ab1;
$flat-green: #73c37e;
$flat-darkGreen: #2abbb4;
$flat-black: #666465;
$flat-red: #f9644e;
$flat-drabRed: #e68e8a;
$flat-orange: #ebb426;
$flat-purple: #9c6beb;
$flat-yellow: #eacb5f;
.title{
	height: 500px;
	margin: 2px 0;
	padding: 0 2px;
}
.derp{
	background: $flat-black;
	height: 500px;
	width: 100%;
}
.shiftLeft{
	padding:0;
}

