// Global Foundation Settings
@import "settings";
// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
// Color definitions
$flat-blue: #41b4c9;
$flat-darkBlue: #117ab1;
$flat-green: #b3d01e;
$flat-darkGreen: #2abbb4;
$flat-black: #666465;
$flat-red: #f9644e;
$flat-orange: #ebb426;
$flat-purple: #9c6beb;
.title{
	height: 200px;
	background: $flat-red;
}
